---
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import ContentImageWidget from "../contentImage/ContentImageWidget.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const toolIcons = await Promise.all(
  project.data.tools.map(async (toolName) => {
    const tool = await getEntry("tools", toolName);
    if (!tool) throw Error(`Tool ${toolName} not found in tools collection`);
    return tool.data;
  }),
);
---

<a href=`/projects/${project.id}` class="card project-card">
  <h3>{project.data.title}</h3>
  <ContentImageWidget
    src={project.data.thumbnail}
    title={project.data.title}
    alt={`${project.data.title} thumbnail`}
  />
  <p>{project.data.description}</p>
  <div class="project-tool-icons">
    {
      toolIcons.map(({ icon, name }) => (
        <ContentImageWidget src={icon} title={name} />
      ))
    }
  </div>
</a>

<style>
  .project-card {
    display: flex;
    flex-direction: column;
    gap: var(--project-card-content-gap);
  }

  .project-card > :global(.content-image) {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
  }

  h3 {
    font: var(--card-title-font);
    text-align: center;
    margin: 0;
  }

  p {
    font: var(--card-body-font);
  }

  .project-tool-icons {
    width: 100%;
    margin-top: auto;

    display: flex;
    gap: 0.5rem;
    justify-content: end;
  }

  :global(.project-tool-icons >.content-image) {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
</style>
