---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { loadPreviewImage, loadToolIcons } from "./projectAssetLoader";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const previewImage = loadPreviewImage(project.id);
const toolIcons = loadToolIcons(project.data.tools);
---

<a href=`project/${project.id}` class="card project-card">
  <h3>{project.data.title}</h3>
  <Image src={previewImage} alt={project.data.title} />
  <p>{project.data.description}</p>
  <div class="project-tool-icons">
    {
      toolIcons.map((icon, i) => (
        <Image src={icon} alt={""} title={project.data.tools[i]} />
      ))
    }
  </div>
</a>

<style>
  .project-card {
    display: flex;
    flex-direction: column;
    gap: var(--project-card-content-gap);
  }

  .project-card > img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
  }

  h3 {
    font: var(--card-title-font);
    text-align: center;
    margin: 0;
  }

  p {
    font: var(--card-body-font);
  }

  .project-tool-icons {
    width: 100%;
    margin-top: auto;

    display: flex;
    gap: 0.5rem;
    justify-content: end;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
</style>
