---
import type { GetStaticPaths } from "astro";

import { getCollection } from "astro:content";
import { render } from "astro:content";

import loadContentImage from "../../components/contentImage/loadContentImage";
import ProjectPlatformChip from "../../components/projects/ProjectPlatformChip.astro";
import ProjectShowcaseImages from "../../components/projects/ProjectShowcaseImages.svelte";
import ToolChip from "../../components/projects/ToolChip.astro";
import ReadableTypography from "../../components/ReadableTypography.astro";
import Layout from "../../layouts/Layout.astro";
import ContentImageWidget from "@components/contentImage/ContentImageWidget.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const { id, data } = project;
const { title, description, tools, links, icon, showcaseImages } = data;

const Icon = icon ? loadContentImage(icon) : undefined;
const ProjectDetails = (await render(project)).Content;
---

<Layout title={title}>
  <main>
    <h1>
      {Icon ? <Icon.svgComponent /> : ""}
      <span transition:name={`project-title-${id}`}>
        {title}
      </span>
    </h1>

    <div class="links">
      {
        links.map((link) => (
          <ProjectPlatformChip platform={link.platform} url={link.url} />
        ))
      }
    </div>

    <ProjectShowcaseImages client:load>
      {
        showcaseImages.map((src, i) => (
          <ContentImageWidget
            src={src}
            alt={`${title} showcase image`}
            transition:name={i == 0 ? `project-thumbnail-${id}` : undefined}
            transition:animate={i == 0 ? "slide" : undefined}
          />
        ))
      }
    </ProjectShowcaseImages>

    <ReadableTypography>
      <div class="tools">
        <b>Tools used:</b>
        {tools.map((tool) => <ToolChip toolName={tool} style="chip" />)}
      </div>

      <ProjectDetails />
    </ReadableTypography>
  </main>
</Layout>

<style>
  main {
    padding-bottom: 1rem;
  }

  h1 {
    & :global(svg) {
      height: 0.9em;
      width: auto;
      vertical-align: baseline;
      margin-right: 0.4ch;
    }
  }

  .links {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
  }

  .tools {
    display: inline-flex;
    gap: 0.4rem;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: 768px) {
    main {
      padding-inline: 2rem;
    }
  }
  @media (max-width: 767px) {
    main {
      padding-inline: 1rem;
    }
  }
</style>
