---
import type { MarkdownHeading } from "astro";

import readableDate from "../components/readableDate";
import ReadableTypography from "../components/ReadableTypography.astro";
import TocButton from "../components/TocButton.svelte";

import Layout from "./Layout.astro";

interface Props {
  title: string;
  date: Date;
  headings: MarkdownHeading[];
}

const { title, date, headings } = Astro.props;
---

<Layout title={title}>
  <TocButton headings={headings} client:load />
  <ReadableTypography>
    <main>
      <h1 transition:name={`blog-post-${title}`}>{title}</h1>
      <span id="byline">
        Written by Mohsen Elsisi, {readableDate(date)}
      </span>
      <slot />
    </main>
  </ReadableTypography>
</Layout>

<style is:global>
  main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  @media (max-width: 768px) {
    main {
      padding: 0 1rem;
    }
  }
</style>
